<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Article</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p> EDIT PAGE </p>
        <form action="/articles/<%= @article.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="patch">
            <p>Article Title: <input type="text" name=article[title] placeholder='<%= @article.title %>'></p>
            <p>Article Content: <input type="text" name=article[content] placeholder='<%= @article.content %>'></p>
            <input type="submit" value="Submit">
        </form> 
    </body>
</html>